<h1> <%= @pirate.name %> </h1>
<h3> <%= @pirate.height %> </h3>
<h3> <%= @pirate.weight %> </h3>



<% @ships.each do |ship| %>
<h2> <%= ship.name %> </h2>
<h2> <%= ship.type %> </h2>
<h2> <%= ship.booty %> </h2>
<br><br>
<% end %>
