<h1>Display your Pirate here</h1>
<%= @p.name %>
<%= @p.weight %>
<%= @p.height %>


<h2>Display your first ship here</h2>
<%= @s1.name %>
<%= @s1.booty %>
<%= @s1.type %>


<h2>Display your second ship here</h2>
<%= @s2.name %>
<%= @s2.booty %>
<%= @s2.type %>
