<h1>Display your Pirate here</h1>
Name: <%= @p.name %> <br>
Weight: <%= @p.weight %><br>
Height: <%= @p.height %><br>


<h2>First ship:</h2>
Name: <%= @s1.name %><br>
Booty: <%= @s1.booty %><br>
Type: <%= @s1.type %><br>


<h2>Second ship:</h2>
Name: <%= @s2.name %><br>
Booty:<%= @s2.booty %><br>
Type: <%= @s2.type %><br>
